@charset "UTF-8";
/*===========================================================================*\
                                    ¡MAIN
\*===========================================================================*/
/*===========================================================================*\
                                    ¡VARIABLES
\*===========================================================================*/
/**
* Colors: accent == blue, main === gray && highlight === red
*/
/*------------------------------------*\
           Helper functions
\*------------------------------------*/
/**
* so we don't always have to 
* type 'map-get'
*/
/* background: color(color-100); */
/* breakpoint(phone); */
/*------------------------------------*\
          ¡SPACING AND ¡SIZES 
\*------------------------------------*/
/********************
¡MIXINS
********************/
/**
*
* GRADIENTS
*
**/
/********************
¡CLASSES
********************/
.lk-clear:after, .lk-squeeze:after, .col-wrap:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both; }

.lk-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 720px; }
  @media screen and (max-width: 650px) {
    .lk-squeeze {
      padding: 0 10px; } }

.show-mobile-inline,
.show-mobile-block {
  display: none !important; }

@media screen and (max-width: 767px) {
  .show-mobile-inline {
    display: inline-block; } }

@media screen and (max-width: 767px) {
  .show-mobile-block {
    display: block !important; } }

@media screen and (max-width: 650px) {
  .hide-mobile {
    display: none; } }

/**
 * Add/remove margins
 */
.push {
  margin: 20px !important; }

.push--top {
  margin-top: 20px !important; }

.push--right {
  margin-right: 20px !important; }

.push--bottom {
  margin-bottom: 20px !important; }

.push--left {
  margin-left: 20px !important; }

.push--ends {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.push--sides {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.push-half {
  margin: 10px !important; }

.push-half--top {
  margin-top: 10px !important; }

.push-half--right {
  margin-right: 10px !important; }

.push-half--bottom {
  margin-bottom: 10px !important; }

.push-half--left {
  margin-left: 10px !important; }

.push-half--ends {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.push-half--sides {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.flush {
  margin: 0 !important; }

.flush--top {
  margin-top: 0 !important; }

.flush--right {
  margin-right: 0 !important; }

.flush--bottom {
  margin-bottom: 0 !important; }

.flush--left {
  margin-left: 0 !important; }

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/**
 * Add/remove paddings
 */
.pad {
  padding: 20px !important; }

.pad--top {
  padding-top: 20px !important; }

.pad--right {
  padding-right: 20px !important; }

.pad--bottom {
  padding-bottom: 20px !important; }

.pad--left {
  padding-left: 20px !important; }

.pad--ends {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.pad--sides {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.pad-half {
  padding: 10px !important; }

.pad-half--top {
  padding-top: 10px !important; }

.pad-half--right {
  padding-right: 10px !important; }

.pad-half--bottom {
  padding-bottom: 10px !important; }

.pad-half--left {
  padding-left: 10px !important; }

.pad-half--ends {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.pad-half--sides {
  padding-right: 10px !important;
  padding-left: 10px !important; }

/**
* Floats  
*/
.none {
  float: none !important; }

.pull--right {
  float: right !important; }

.pull--left {
  float: left !important; }

.clear {
  display: block;
  float: none;
  clear: both; }

/**
* Centering elements
*/
.center--vertical {
  vertical-align: middle; }

.center--horizontal {
  margin: 0 auto;
  display: block; }

.text--center {
  text-align: center !important; }

.text--left {
  text-align: left !important; }

.text--right {
  text-align: right !important; }

/**
 * COLUMNS
 */
.col-wrap .col {
  float: left; }
  .col-wrap .col.col-50 {
    width: 50%; }
    @media screen and (max-width: 767px) {
      .col-wrap .col.col-50 {
        width: 100%;
        float: none; } }
.col-wrap .col-50:nth-last-child(2):first-child {
  padding-right: 10px; }
  @media screen and (max-width: 767px) {
    .col-wrap .col-50:nth-last-child(2):first-child {
      padding-right: 0; } }
.col-wrap .col-50 + .col-50 {
  padding-left: 10px; }
  @media screen and (max-width: 767px) {
    .col-wrap .col-50 + .col-50 {
      padding-left: 0; } }

/*===========================================================================*\
                                    ¡VARIABLES
\*===========================================================================*/
/**
* Colors: accent == blue, main === gray && highlight === red
*/
/*------------------------------------*\
           Helper functions
\*------------------------------------*/
/**
* so we don't always have to 
* type 'map-get'
*/
/* background: color(color-100); */
/* breakpoint(phone); */
/*------------------------------------*\
          ¡SPACING AND ¡SIZES 
\*------------------------------------*/
/**
* High level color classes for fonts. There are essentially
* only four colors on this site regarding typography. I've 
* given these !important because I want to apply a default 
* color to all h and p elements and still be able to add
* classes to any element.
*/
.black {
  color: #000 !important; }

.white {
  color: #fff !important; }

.accent {
  color: #222C65; }

.accent-red {
  color: #A31F34; }

.bold {
  font-weight: bold !important; }

h1, h2,
h3, h4,
h5, h6 {
  color: #333D47;
  font-weight: 300; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 35px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 25px; }

h6 {
  font-size: 18px; }

p {
  color: #333D47;
  font-size: 16px; }
  p.medium {
    font-size: 14px; }
  p.small {
    font-size: 12px; }

ul {
  padding: 0 20px; }
  ul li {
    color: #333D47; }

/*-----------------------------------*\
		         ¡GENERAL
\*-----------------------------------*/
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../assets/fonts/MyriadPro-Regular.otf");
  src: local(☺), url("../assets/fonts/MyriadPro-Regular.otf") format("otf"), url("../assets/fonts/MyriadPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Black';
  src: url("../assets/fonts/Roboto-Light.ttf");
  src: local(☺), url("../assets/fonts/Roboto-Light.ttf") format("ttf"), url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #E6E7E8;
  font-family: "MyriadPro-Regular", sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

/**
* These classes are used for content within the sections
* that needs to be smaller than the squeeze width, but
* still left aligned with lk-squeeze.
*/
.squeeze-lg {
  max-width: 525px; }

.squeeze-sm {
  max-width: 400px; }

/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/
.header {
  height: 50px;
  width: 100%; }
  .header-logo {
    float: left;
    margin: 5px 0 0 15px;
    width: 40px; }
  .header .title {
    float: left;
    font-family: "Roboto-Black";
    line-height: 50px;
    letter-spacing: 1px; }
    .header .title span {
      font-size: 20px; }
  .header .contact-info {
    line-height: 50px;
    margin-right: 50px; }
    .header .contact-info a {
      color: #222C65;
      text-decoration: none; }

/*------------------------------------*\
               ¡MENU ¡NAV
\*------------------------------------*/
/**
* Add class of is-active to anchor tag when link
* is clicked. This will allow active li to persist
*/
.wrap-menu {
  float: left;
  line-height: 50px;
  margin-left: 35px; }
  .wrap-menu ul li {
    font-size: 18px;
    list-style: none;
    display: inline-block; }
  .wrap-menu ul li:hover,
  .wrap-menu ul li:active {
    background: #283478;
    color: #fff; }
  .wrap-menu ul a {
    color: #333D47;
    display: block;
    padding: 0 15px;
    text-decoration: none; }
  .wrap-menu ul a:hover {
    color: #fff; }

/*------------------------------------*\
               ¡SUBMAST
\*------------------------------------*/
.sub-mast {
  background: url(../assets/img/banner.png) no-repeat center;
  background-size: cover;
  height: 450px; }
  .sub-mast-title {
    font-size: 50px;
    font-weight: 400;
    padding: 130px 0 0 0;
    margin: 0 0 30px 0; }
  .sub-mast-info {
    margin: 30px 0;
    max-width: 500px; }

/*------------------------------------*\
               ¡BUTTONS
\*------------------------------------*/
.btn-primary {
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none; }

.btn-md {
  font-size: 18px;
  padding: 12px 25px; }

.btn-primary {
  background: #fff;
  border: 2px solid #fff;
  color: #222C65;
  transition: 1s ease all; }

.btn-primary:active,
.btn-primary:hover {
  background: #283478;
  color: #fff;
  text-decoration: none; }

.btn-primary:focus {
  outline: 0 !important; }

/*------------------------------------*\
              ¡SECTIONS
\*------------------------------------*/
/**
* This first definition gives us our basic definition of
* a section. Following classes/blocks will be more specific
*/
.section {
  padding: 70px 0; }
  .section .section-title {
    margin-bottom: 10px; }
  .section .hr, .section .hr-short {
    background: #A31F34;
    height: 6px;
    margin-bottom: 50px;
    width: 90px; }
    .section .hr-short {
      margin-bottom: 25px; }

.highlight {
  border-top: 10px solid #A31F34; }

.dark {
  background: #222C65; }

.armor .wrap-images {
  margin-bottom: 35px; }
  .armor .wrap-images img {
    cursor: pointer; }
  .armor .wrap-images img:nth-child(2) {
    margin: 0 5px 0 10px; }
  .armor .wrap-images img:nth-child(3) {
    margin: 0 10px 0 5px; }
  .armor .wrap-images .thumbnail {
    width: 100px; }

.about .logo-lg {
  width: 100px; }
.about .title {
  float: left;
  font-weight: 600;
  font-family: "Roboto-Black";
  letter-spacing: 2px; }
.about span {
  font-size: 40px;
  margin-top: 30px; }
.about .section-title {
  margin: 30px 0 10px; }
.about a {
  color: #222C65;
  text-decoration: none; }

/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/
footer {
  background: #222C65;
  height: 240px; }

/*# sourceMappingURL=main.css.map */
